@use "reset";

$nav-padding: 1rem;
$main-colour: #252525;

$MainColour: #313FB3;
$SecondaryColour: #B31873;
$DarkColour: #252525;
$LighterDarkColour: hsl(0, 0%, 35%);


.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    background-color: $main-colour;
    margin-bottom: 1rem;
    border-bottom: $LighterDarkColour solid 1px;
    @media (max-width: 599px) {
        padding: $nav-padding 0;
    }
    .container > a {
        margin-right: auto;
    }

    .container > a > .logo{
        margin: 1rem 0;
        max-height: 3rem;
        max-width: 3rem;
    }

    .container > a >.logo > img {
        height:100%; 
        width:100%;
        object-fit: contain;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    &__button {
        background-color: transparent;
        border: none;
        color: white;
        @media (min-width: 600px) {
            display: none;
        }
    }
    &__collapse {
        @media (max-width: 599px) {
            display: none;
            > ul {
                width: 100%;
                li > a {
                    width: 100%;
                }
            }
        }
        > ul {
            margin: 0;
            margin-left: auto;
            display: flex;
            padding: 0;
            flex-direction: row;
            list-style: none;
            li > a {
                padding: 1.5rem $nav-padding;
                display: inline-block;
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            li > a:hover {
                cursor: pointer;
                //background-color: hsl(0, 0%, 85%);
                color: $SecondaryColour;
            }
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

.navbar__collapse {

}

.hide {
    display: none;
}

.show {
    display: flex;
}