{% extends "base.njk" %}
{% block  content %}
<div class="container">
  <ul>
    {% for post in posts %}
      <li>
        <div class="msg">
          <div class="msg-title">
            <p><a href="/post/{{ post.id }}">{{ post.title }}</a></p>
            <p>@{{ post.name }}</p>
          </div>
          <div class="msg-content">
            <p>{{ post.content }}</p>
          </div>
          <p class="msg-date">{{ post.createdAt }}</p>
          <div class="msg-links">
            <a href="/like/{{ post.id }}">Like {{ post.likes }}</a>
            <a href="">Comment</a>
            <a href="">Share</a>
            <a href="">Report</a>
            <button id="{{ post.id }}" onclick="likeFunc(this.id)">Like</button>
            <script src="../javascript/like.js"></script>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}