<nav class="navbar">
    <div class="navbar__inner container">
        <a href="/">
            <div class="logo">
                <img src="profiles/0.png" alt="">
            </div>
            </a>
        <button class="navbar__button"><span class="material-symbols-outlined">menu</span></button>
        <div class="navbar__collapse">
            <ul>
                {% if user %}
                <li><a href="/new">Post</a></li>
                {% endif %}
                <li><a href="">Tags</a></li>
                {% if user %}
                    <li><a href="/profile">Profile</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>