<nav class="navbar">
    <div class="navbar__inner container">
        <a href="/">EPISKT FORUM</a>
        <button class="navbar__button"><span class="material-symbols-outlined">menu</span></button>
        <div class="navbar__collapse">
            <ul>
                <li><a href="/new">Posta</a></li>
                <li><a href="">Kategorier</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="/register">Registrera</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
    </div>
</nav>