{% extends "base.njk" %}
{% block content %}
<div class="container">
  <h1>Profile</h1>
  <p>Username: {{ name }}</p>
  <form action="/logout" method="POST">
      <button type="submit">Logout</button>
  </form>
</div>
{% endblock %}