{% extends "base.njk" %}
{% block content %}
<main class="container">
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="passwordConfirmation" placeholder="Confirm Password">
        <button type="submit">Register</button>
    </form>
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
</main>

{% endblock %}